.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}

.cookie-banner button {
    background-color: #ffcc00;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cookie-banner button:hover {
    background-color: #e6b800;
}

/* Style pour la bannière des cookies */
.cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cookie-banner p {
    display: inline;
    margin-right: 10px;
}

.cookie-banner button {
    background-color: #ffcc00;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.cookie-banner button:hover {
    background-color: #e6b800;
}